/* ========== Global ========== */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

i + span {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #fdefef;
  background: #fdefef no-repeat 100% 100% url(./assets/background.svg);
  color: #224466;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #224466;
    color: #fdefef;
  }
}

/* ========== Header ========== */
.Header_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.Header_navigation {
  display: flex;
  flex-direction: row;
  padding-right: 1rem;
}

.Header_container li {
  list-style: none;
  padding: 0rem 0.5rem;
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

.svg-icon > use {
  width: 100%;
  height: 100%;
}

/* ========== Main ========== */
section {
  display: none;
}

section.active-page {
  display: block;
}

section a {
  font-weight: bold;
}

section h1 {
  font-size: 2rem;
}

section h2 {
  font-size: 1.5rem;
}

section h3 {
  font-size: 1.25rem;
}

section h4 {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
}

/* ========== PAGES ========== */
/* Front */
main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Front_greeting-container {
  max-width: 600px;
}

.Front_greeting::after {
  display: block;
  content: "Hello";
  animation: greetings 12s ease-in-out infinite;
}

@keyframes greetings {
  0% {
    content: "Hello";
    color: inherit;
  }
  12.5% {
    color: transparent;
  }
  25% {
    content: "こんにちは";
    color: inherit;
  }
  37.5% {
    color: transparent;
  }
  50% {
    content: "Здравствуйте";
    color: inherit;
  }
  62.5% {
    color: transparent;
  }
  75% {
    content: "Оlá";
    color: inherit;
  }
  87.5% {
    color: transparent;
  }
  100% {
    content: "Hello";
    color: inherit;
  }
}

/* Work */

/* Things */

/* Apps */
.Apps_container {
  max-width: 600px;
}

/* ========== Footer ========== */
.Footer_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.Footer_logo {
  padding-left: 4rem;
  font-size: 4rem;
  font-family: Monoton, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: default;
}
